
<!-- heredamos de la platilla Base.html -->
{% extends 'core/base.html' %}
<!-- escribimos el titulo de la pagina-->
{% block title %} Listado de Bodegas {% endblock %}

<!-- Bloque de contenido -->
{% block content %}
<!--LISTADO DE CATEGORIAS-->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="row">
            <div class="col-6">
              <h2>Listado de Categorías</h2>
            </div>
            <div class="col-6 text-end">
              <a href="{%url 'registrocategorias' %}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Nueva Categoría</a>
            </div>
          </div>

          <div class="bg-white border rounded p-5 table-responsive">
            <table class="table">
              <thead class="table-secondary">
                <tr>
                  <th scope="col">Nombre Categoría</th>
                  <th scope="col">Fecha de Creacion</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
               {% for categoria in categorias %}
                <tr>
                  <td>{{ categoria.nombreCategoria}}</td>
                  <td>{{ categoria.creadoCategoria}}</td>
                  <td class="text-end">
                  <a class="btn btn-primary btn-sm"  href="../editarcategoria/{{categoria.id}}" title="Editar"><i class="fas fa-edit"></i></a>
                  <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" href="../eliminarcategoria/{{categoria.id}}" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
